versesound {
   margin-left: 10px;
   
  .bar-c {
    overflow: hidden;
    height: 30px;
    width: 40px;
    margin: 0 auto;
    position: relative;
    cursor: pointer;
  }
  .bar {
    height: 1px;
    width: 3px;
    display: inline-block;
    background-color: #ffffd2;
    border: 1px solid #666;
    bottom: 0;
    position: absolute;
    animation-duration: 500ms;
    animation-play-state: running;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  .bar.noAnim {
    animation: none;
    animation-name: none;
  }
  .bar#bar-1 {
    left: 0;
    animation-name: danceHeight1;
    animation-delay: 0ms;
  }
  .bar#bar-2 {
    left: 6px;
    animation-name: danceHeight2;
    animation-delay: 300ms;
  }
  .bar#bar-3 {
    left: 12px;
    animation-name: danceHeight3;
    animation-delay: 600ms;
  }
  .bar#bar-4 {
    left: 18px;
    animation-name: danceHeight4;
    animation-delay: 900ms;
  }
  .bar#bar-5 {
    left: 24px;
    animation-name: danceHeight5;
    animation-delay: 1200ms;
  }
  .bar#bar-6 {
    left: 30px;
    animation-name: danceHeight6;
    animation-delay: 1500ms;
  }
  @keyframes danceHeight1 {
    from {
      height: 1px;
    }
    to {
      height: 22px;
    }
  }
  @keyframes danceHeight2 {
    from {
      height: 1px;
    }
    to {
      height: 15px;
    }
  }
  @keyframes danceHeight3 {
    from {
      height: 1px;
    }
    to {
      height: 30px;
    }
  }
  @keyframes danceHeight4 {
    from {
      height: 1px;
    }
    to {
      height: 20px;
    }
  }
  @keyframes danceHeight5 {
    from {
      height: 1px;
    }
    to {
      height: 15px;
    }
  }
  @keyframes danceHeight6 {
    from {
      height: 1px;
    }
    to {
      height: 15px;
    }
  }
}
